#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: all 0.2s ease;
  position: relative;
  box-sizing: border-box;
}

.arrows-list {
  display: none;
}
